* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
}

.container-home {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#productView {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* =============== NavBar Start =============== */

#navbar {
	font-family: 'Karla', sans-serif;
	background-color: #FBC00E;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

#nav-brand {
	font-weight: bold;
	font-size: 16px;
	color: #333652 ;
}

#nav-text {
	font-size: 12px;
}

#nav-text .product:hover {
	font-weight: bold;
}

#nav-text .login:hover {
	font-weight: bold;
}

#nav-text .register:hover {
	font-weight: bold;
}

#nav-text .dashboard:hover {
	font-weight: bold;
}

#nav-text .logout:hover {
	font-weight: bold;
}

/* =============== NavBar End =============== */



/* =============== Register Start =============== */

.container-register {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reg-text {
	font-size: 13px;
}

#form-control-firstname {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-lastname {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-email {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-pw1 {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-pw2 {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#regBtn {
	font-size: 12px;
	width: 100%;
	background-color: #333652;
	border: #333652;
	color: white;
}

#regBtn:hover {
	background-color: #FAD02C;
}

#regBtn-disabled {
	font-size: 12px;
	width: 100%;
	background-color: #E9EAEC;
	border: #E9EAEC;
	color: #333652;
}

#alt-login {
	font-size: 13px;
	text-align: right;
}

#alt-login-link {
	font-size: 13px;
	color: black;
	text-decoration: none;
}

#alt-login-link:hover {
	font-size: 13px;
	color: black;
	text-decoration: underline;
	text-align: right;
}


/* =============== Register End =============== */



/* =============== Login Start =============== */

.container-login {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-text {
	font-size: 13px;
}

#form-control-useremail {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-pw {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#loginBtn {
	font-size: 12px;
	width: 100%;
	background-color: #333652;
	border: #333652;
	color: white;
}

#loginBtn:hover {
	background-color: #FAD02C;
}

#loginBtn-disabled {
	font-size: 12px;
	width: 100%;
	background-color: #E9EAEC;
	border: #E9EAEC;
	color: #333652;
}

#alt-reg {
	font-size: 13px;
	text-align: right;
}

#alt-reg-link {
	font-size: 13px;
	color: black;
	text-decoration: none;
}

#alt-reg-link:hover {
	font-size: 13px;
	color: black;
	text-decoration: underline;
	text-align: right;
}

/* =============== Login End =============== */



/* =============== Active Products Start (Customer Access) =============== */

.container-active {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#product-card {
  height: 130px;
  width: 250px;
}

.product-card {
	min-height: 100%;
}

#card-name-text {
	font-size: 16px;
}

#card-price-text {
	font-size: 14px;
}

/* =============== Active Products End (Customer Access) =============== */


.card-title {
	font-family: 'Karla', sans-serif;
}


.checkoutBtn {
	text-align: right;
	font-size: 12px !important;
	width: 140px !important;
	background-color: #333652 !important;
	border: #333652 !important;
	box-shadow: none !important;
}

.checkoutBtn:hover {
	background-color: #FAD02C !important;
	color: #333652 !important;
}

/* =============== Error Page Start =============== */
#error-title {
	font-size: 16px;
}

#error-text {
	font-size: 14px;
}

#error-link-shop {
	font-size: 12px;
	width: 140px;
	background-color: #333652 ;
	border: #333652 ;
}

#error-link-shop:hover {
	background-color: #FAD02C;
}

#error-link-home {
	font-size: 12px;
	width: 140px;
	background-color: #E9EAEC;
	border: #E9EAEC;
	color: #333652;
}

#error-link-home:hover {
	background-color: #FAD02C;
	color: white;
}
/* =============== Error Page End =============== */







#form-control-name {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-desc {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}

#form-control-price {
	font-size: 14px;
	border: none;
	background-color: #E9EAEC;
	box-shadow: none;
/*	border-bottom: 2px solid black;
	border-radius: 0;*/
}





/* =============== Update Product Start =============== */
#updateBtn {
	font-size: 12px;
	width: 100px;
	background-color: #E9EAEC;
	border: #E9EAEC ;
	color: #333652;
	box-shadow: none;
}

#updateBtn:hover {
	background-color: #333652;
	color: white;
}

/* =============== Update Product End =============== */

/* =============== Archive Product Start =============== */
#archiveBtn {
	font-size: 12px;
	width: 100px;
	background-color: #E9EAEC;
	border: #E9EAEC ;
	color: #333652;
	box-shadow: none;
}

#archiveBtn:hover {
	background-color: #DF2E38;
	border: #DF2E38;
	color: #FFFFFF;
}

/* =============== Archive Product End =============== */

#prodBtn {
	font-size: 12px;
	width: 100%;
	background-color: #333652 !important;
	border: #333652 !important;
}

#prodBtn:hover {
	background-color: #FAD02C !important;
}

#prodBtn-disabled {
	font-size: 12px;
	width: 100%;
	background-color: #E9EAEC !important;
	border: #E9EAEC !important;
	color: #333652 !important;
}


/* =============== Activate Product Start =============== */
#activateBtn {
	font-size: 12px;
	width: 100px;
	background-color: #E9EAEC;
	border: #E9EAEC ;
	color: #333652;
	box-shadow: none;
}

#activateBtn:hover {
	background-color: #5D9C59;
	border: #5D9C59;
	color: #FFFFFF;
}

/* =============== Activate Product End =============== */

/* =============== Dashboard Start =============== */
#dashboardBtn {
text-align: right;
margin-top: 20px;
margin-bottom: 10px;
}

/* =============== Dashboard End =============== */

/* =============== Dashboard Table Start =============== */
#tableHeader {
background-color: #333652;
color: #FFFFFF;
}

/* =============== Dashboard Table End =============== */

/* =============== Create Product Start =============== */
#createBtn {
	font-size: 14px;
	width: 150px;
	background-color: #E9EAEC;
	border: #E9EAEC ;
	color: #333652;
	box-shadow: none;
	margin-right: 10px;
}

#createBtn:hover {
	opacity: 80%;
}

/* =============== Create Product End =============== */

/* =============== Check Order Start =============== */
#checkOrderBtn {
	font-size: 14px;
	width: 150px;
	background-color: #E9EAEC;
	border: #E9EAEC ;
	color: #333652;
	box-shadow: none;
}

#checkOrderBtn:hover {
	opacity: 80%;
}

/* =============== Check Order End =============== */

.swal2-confirm {
  background-color: #E9EAEC !important;
  font-size: 12px !important;
  color: #000000 !important;
  box-shadow: none !important;
}

.swal2-cancel {
  background-color: #333652 !important;
  font-size: 12px !important;
  color: #E9EAEC !important;
  box-shadow: none !important;
}

.swal2-confirm:hover {
  background-color: #FAD02C !important;
}

.swal2-cancel:hover {
  background-color: #FAD02C !important;
  color: #000000 !important;
}

.swal2-title {
  font-weight: bold !important;
  color: #333652 !important;
  font-size: 20px !important;
  margin-bottom: -15px !important;
}

#swal2-text {
  color: #333652 !important;
  font-size: 14px !important;
  margin-bottom: 5px !important;
}

.swal2-icon {
  font-size: 5px !important;
  margin-top: 25px !important;
}





#description-column {
  width: 150px; 
}

#column-product-name {
	padding-right: 50px;
	padding-bottom: 50px;
	width: 20%;
}

#column-product-name a {
	text-decoration: none;
	color: #333652;
}

#column-product-desc {
	padding-right: 50px;
	padding-bottom: 50px;
	width: 55%;
	text-align: justify;
}

#column-product-price {
	padding-right: 50px;
	padding-bottom: 50px;
	width: 10%;
}

#column-product-isActive {
	padding-right: 50px;
	padding-bottom: 50px;
	width: 10%;
}

#column-product-action {
	padding-bottom: 50px;
	width: 10%;
}



.checkoutBtn:hover {
	background-color: #FAD02C;
}

.updateBtn {
	font-size: 12px !important;
	width: 100px !important;
	background-color: #E9EAEC !important;
	border: #E9EAEC !important;
	color: #333652 !important;
	box-shadow: none !important;
}

.updateBtn:hover {
	background-color: #333652 !important;
	border: #5D9C59 !important;
	color: #FFFFFF !important;
}

.backBtn {
	font-size: 12px !important;
	width: 150px !important;
	background-color: #E9EAEC !important;
	border: #E9EAEC !important;
	color: #333652 !important;
	box-shadow: none !important;
}

.backBtn:hover {
	background-color: #333652 !important;
	border: #5D9C59 !important;
	color: #FFFFFF !important;
}

#productBtn {
	text-align: right;
	margin-bottom: 2px;
}

#productCard {
	background-color: black;
	opacity: 50%;
}

.my-table {
  width: 50%;
}